{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <!-- Widgets  -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title" style="text-align: center;"> Hi, welcome! </h4>
                </div>
        
            </div>    
        </div>

        <div class="col-lg-3 offset-md-1 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: #6610f2; border-radius:25px" >
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-list" style="color: #ffff;" ></i>
                        </div>
                        <div class="stat-content" >
                            <div class="text-left dib">
                                <div class="stat-text" style="color: white"><span class="count">{{ product }}</span></div>
                                <div class="stat-heading" style="color: white">Product</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: #4caf50; border-radius:25px" >
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="fa fa-user" style="color: #ffff;" ></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count" style="color: white">{{ supplier }}</span></div>
                                <div class="stat-heading" style="color: white">Supplier</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: #c4141c; border-radius:25px" >
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="fa fa-user" style="color: #ffff;" ></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count" style="color: white">{{ parts.count }}</span></div>
                                <div class="stat-heading" style="color: white">Reorder</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <!-- /Widgets -->
    
    <div class="clearfix"></div>

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Part No</th>
                                        <th>Part Name</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if parts %}
                                    {% for part in parts %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td> 
                                        <td>{{ part.partno }}</td>                                      
                                        <td>{{ part.partname }}</td>
                                        <td>{{ part.quan }}</td>
                                                                             
                                        
                                        <td>
                                            {% if part.quan <= part.limit   %}
                                                <p style="color: #FF0000">
                                                      Reorder
                                                </p>
                                             {% elif part.quan  > part.limit  %}
                                                 <p style="color:#008000">
                                                     Available
                                                 </p>
                                              {% endif %}
                                        </td>
                                        <td>{{ part.created_date }}</td>
                                        
                                        <td>
                                        <a class="btn btn-info" href="{% url 'part-list'%}">More Details</a>                                   
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Part Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}