{% extends 'base/base.html' %}

{% block title %}Add Order{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Delivery order</a></li>
                            <li class="active">Add</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Delivery Order</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" id="form-container" novalidate="novalidate">
                        {% csrf_token %}
                            <div class="do-form"> 
                                <div class="form-group">
                                    <label for="supplier" class="control-label mb-1">Supplier</label>
                                    {{ form.supplier }}
                                </div>

                                <div class="form-group">
                                    <label for="order" class="control-label mb-1">Part</label>
                                    {{ form.order }}
                                </div>
                            
                                <div class="form-group">
                                    <label for="po_quantity" class="control-label mb-1">Quantity</label>
                                    {{ form.do_quantity }}
                                </div>
                            </div>
                                
                            <button id="add-form" type="button">Add Another DO</button>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                                    <span id="payment-button-amount">Save</span>
                                </button>
                            </div>
                            
                        </form>

                        <script>
                            let doForm = document.querySelectorAll(".do-form")
                            let container = document.querySelector("#form-container")
                            let addButton = document.querySelector("#add-form")
                            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

                            let formNum = doForm.length - 1 //Get the number of the last form on the page with zero-based indexing
                            addButton.addEventListener('click', addForm)

                            function addForm(e) {
                                e.preventDefault()

                                let newForm = doForm[0].cloneNode(true) //Clone the bird form
                                let formRegex = RegExp(`form-(\\d){1}-`, 'g') //Regex to find all instances of the form number

                                formNum++ //Increment the form number
                                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
                                container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms

                                totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the form management
                            }
                        </script>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}