{% extends 'base/base.html' %}

{% block title %}Delete PO{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<p>Are you sure you want to delete "{{item}}"?</p>
			<form  action="" method="post">
				{% csrf_token %}
				<a class="btn btn-warning" href="{{request.META.HTTP_REFERER}}">Go back</a>

			  	<input class="btn btn-danger" type="submit"/>
			</form>
		</div>
	</div>
</div>
{% endblock content %}