{% extends 'base/base.html' %}

{% block title %}Delivery Order List {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="col-xl-3 box-title">Delivery Order List </h4> 
                <a href="{% url 'create-deliveryorder' %}" class="col-xl-2 btn btn-primary" style="float: right;">Add New</a>
                <a href="{% url 'generate-pdf_do' %}" class="col-xl-2 btn btn-success mx-2" style="float: right;">Export</a>
            </div>
            <div class="card-body--">
                <div class="table-stats part-table ov-h">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Part Name</th> 
                                <th>Part No</th> 
                                <th>Quantity</th>    
                                <th>Quantity PO</th>           
                                <th>Date</th>
                                <th>Action</th>                     
                            </tr>
                        </thead>
                        <tbody>
                            {% if deliveryorder %}
                            {% for deliveryorder in deliveryorder %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ deliveryorder.purchaseorder }}</td>
                                <td>{{ deliveryorder.purchaseorder.part.partno }}</td>
                                <td>{{ deliveryorder.do_quantity }}</td>                 
                                <td>{{ deliveryorder.purchaseorder.po_quantity }}</td>
                                <td>{{ deliveryorder.created_date }}</td>
                                <td>
                                    <a class="btn btn-sm btn-warning" href="{% url 'update_do' deliveryorder.id %}" >Update</a>
                                    <a class="btn btn-sm btn-danger"  href="{% url 'delete_do' deliveryorder.id %}">Delete</a>
                                </td>
        
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Part Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}