{% extends 'base/base.html' %}

{% block title %}Order List{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="col-xl-3 box-title">Purchase Order List </h4> 
                <a href="{% url 'create-order' %}" class="col-xl-2 btn btn-primary" style="float: right;">Add New</a>
                <a href="{% url 'generate-pdf' %}" class="col-xl-2 btn btn-success mx-2" style="float: right;">Export</a>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Part No</th>
                                <th>Part Name</th>
                                <!-- <th>Style Packaging</th> -->
                                <th>Qty/Box</th>
                                <th>Total PCS</th>
                                <th>Product</th>
                                <th>Supplier</th>
                                <th>PIC</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>                     
                            </tr>
                        </thead>
                        <tbody>
                            {% if order %}
                            {% for order in order %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ order.partno }}</td>
                                <td>{{ order.description }}</td>
                                <!-- <td>{{ order.style }}</td> -->
                                <td>{{ order.standard }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.supplier.name }}</td>
                                <td>{{ order.is_ppc}}</td>
                                <td>{{ order.created_date }}</td>
                                <td> 
                                {% if order.quantity <= order.limit   %}
                                    <p style="color: #FF0000">
                                          Reorder
                                    </p>
                                 {% elif order.quantity  > order.limit  %}
                                     <p style="color:#008000">
                                         Available
                                     </p>
                                  {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning" href="{% url 'update_order' order.id %}" >Update</a>
                                    <a class="btn btn-sm btn-danger"  href="{% url 'delete_order' order.id %}">Delete</a>
                                </td>
                                
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Order Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}