{% extends 'base/base.html' %}

{% block title %}Order List{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="col-xl-3 box-title">Purchase Order List </h4>
                <a href="{% url 'create-order' %}" class="col-xl-2 btn btn-primary" style="float: right;">Add New</a>
                <a href="{% url 'generate-pdf' %}?{{ request.GET.urlencode }}" class="col-xl-2 btn btn-success mx-2" style="float: right;">Export</a>
            </div>
            <div class="row">
                <div class="col">
                <div class="card card-body">
                <form method="GET">
                       {{filter.form}}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                </div>
                </div>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Part No</th>
                                <th>Part Name</th>
                                <th>Style</th>
                                <th>S.Package</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th>Unit Price</th>
                                <th>Amount</th>
                                <th>PIC</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if order %}
                            {% for order in order %}
                            <tr>
                                <td>{{ order.po_id}}</td>
                                <td>{{ order.part.partno}}</td>
                                <td>{{ order.part.partname}}</td>
                                <td>{{ order.part.stylepack }}</td>
                                <td>{{ order.part.standardpack }}</td>
                                <td>{{ order.part.unit }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.part.tax }}%</td>
                                <td>{{ order.part.price }}</td>
                                <td>{{ order.amount }}</td>
                                <td>{{ order.is_ppc}}</td>
                                <td>{{ order.created_date }}</td>
                                <td>
                                {% if order.quantity <= order.limit   %}
                                    <p style="color: #FF0000">
                                          Reorder
                                    </p>
                                 {% elif order.quantity  > order.limit  %}
                                     <p style="color:#008000">
                                         Available
                                     </p>
                                  {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning" href="{% url 'update_order' order.id %}" >Update</a>
                                    <a class="btn btn-sm btn-danger"  href="{% url 'delete_order' order.id %}">Delete</a>
                                </td>

                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Order Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->


</div>
{% endblock content %}