{% extends 'base/base.html' %}

{% block title %}Part List{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="col-xl-3 box-title">Part List </h4> 
                <a href="{% url 'create-part' %}" class="col-xl-2 btn btn-primary" style="float: right;">Add New</a>
                <a href="{% url 'generate-pdf_part' %}" class="col-xl-2 btn btn-success mx-2" style="float: right;">Export</a>
            </div>
            <div class="row">
                <div class="col">
                <div class="card card-body">
                <form method="GET">
                       {{filter.form}}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                </div>
                </div>
            </div>
            <div class="card-body--">
                <div class="table-stats part-table ov-h">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>No</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Style</th>
                                <th>Packaging</th>
                                <th>Price</th>
                                <th>Unit per car</th>
                                <th>Tax</th>
                                <th>Stock</th>
                                <th>Date</th>
                                <th>Action</th>                     
                            </tr>
                        </thead>
                        <tbody>
                            {% if part %}
                            {% for part in part %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ part.partno }}</td>
                                <td class="hide-text">{{ part.partname }}</td>
                                <td>{{ part.quan }}</td>
                                <td>{{ part.stylepack }}</td>
                                <td>{{ part.standardpack }}</td>
                                <td>{{ part.price}}</td>         
                                <td>{{ part.unit }}</td>
                                <td>{{ part.tax }} %</td>
                                <td>
                                    {% if part.quan <= part.limit   %}
                                        <p style="color: #FF0000">
                                              Reorder
                                        </p>
                                     {% elif part.quan  > part.limit  %}
                                         <p style="color:#008000">
                                             Available
                                         </p>
                                      {% endif %}
                                    </td>
                                <td>{{ part.created_date }}</td>      
                                <td>
                                    <a class="btn btn-sm btn-warning mt-2" href="{% url 'update_part' part.id %}" >Update</a>
                                    <a class="btn btn-sm btn-danger"  href="{% url 'delete_part' part.id %}">Delete</a>
                                </td>  
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Part Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}