{% load static %}

<link href="{% static 'assets/css/nav.css' %}" rel="stylesheet">

<header class="header">
    <h1 class="logo"><a href="/">Victorious Step</a></h1>
  <ul class="main-nav">
      <li><a href="{% url 'product-list' %}">Product</a></li>
      <li><a href="{% url 'supplier-list' %}">Supplier</a></li>
      <li><a href="{% url 'part-list' %}">Parts</a></li>
      <li><a href="{% url 'order-list' %}">Orders</a></li> 
      <li><a href="{% url 'dins-list' %}">Delivery Instructions</a></li>
      <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar rounded-circle" src="{% static 'images/icons/user.png' %}" alt="User Avatar">
        </a>

        <div class="user-menu dropdown-menu" >

            <a class="nav-link" href="{% url 'logs' %}"><i class="fa fa-power -off"></i>User Log</a>
            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power -off"></i>Logout</a>
        </div>
    </div>
  </ul>
</header> 

