<aside id="left-panel" class="left-panel" style="background: #afafaf">
    <nav class="navbar navbar-expand-sm navbar-default" style="background: #afafaf">
        <div id="main-menu" class="main-menu collapse navbar-collapse" style="background: #afafaf">
            <ul class="nav navbar-nav">
                <li class="active" style="background: #afafaf" >
                    <a href="/"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title" style="color: black">My Store</li><!-- /.menu-title -->

                
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'product-list' %}" style="color: black" > <i class="menu-icon fa fa-list"></i>Product</a>
                </li>
                <li class="menu-item-has-children dropdown" >
                    <a href="{% url 'supplier-list' %}" style="color: black"> <i class="menu-icon fa fa-user"></i>Supplier</a>
                </li>

                <li class="menu-item-has-children dropdown" >
                    <a href="{% url 'order-list' %}" aria-haspopup="true" aria-expanded="false" style="color: black"> <i class="menu-icon fa fa-shopping-cart"></i>Purchase Order</a>
                </li>

                <li class="menu-item-has-children dropdown" >
                    <a href="{% url 'create-order' %}" style="color: black"> <i class="menu-icon fa fa-plus"></i>Add Purchase Order</a>
                </li>

                <li class="menu-item-has-children dropdown" >
                    <a href="{% url 'part-list' %}" style="color: black"> <i class="menu-icon fa fa-plus"></i>Part List</a>
                </li>

                <li class="menu-item-has-children dropdown" >
                    <a href="{% url 'po-list' %}" style="color: black"> <i class="menu-icon fa fa-plus"></i>PO List</a>
                </li>

                <li class="menu-item-has-children dropdown" >
                    <a href="{% url 'do-list' %}" style="color: black"> <i class="menu-icon fa fa-plus"></i>DO List</a>
                </li>

                <li class="menu-item-has-children dropdown" >
                    <a href="{% url 'logs' %}" style="color: black"> <i class="menu-icon fa fa-history"></i>History</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>